<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ezgripper_triple_mount_instantiation">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ezgripper_triple_mount_instantiation urdf file -->
    <xacro:include filename="$(find ezgripper_description)/urdf/ezgripper_triple_with_mount_standalone.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ezgripper_triple_mount_instantiation.ros2_control.xacro" />


    <xacro:ezgripper_triple_mount_instantiation_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
